.ControlBridge {
    display: flex;
    gap: 20px;
    align-items: stretch;
}

.ControlSection {
    flex: 3;
    /*background-color: #bf0000;*/
}

.QueueSection {
    flex: 2;
    /*background-color: #8e5353;*/
}